@model TP_Pizzas.Models.PizzaVM

@{
    ViewBag.Title = "PizzaInfos";
}

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Pizza)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Pizza.Nom)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Pizza.Pate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Pizza.Pate.Nom)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Ingredients)
    </dt>

    <dd>
        @foreach (var item in Model.Pizza.Ingredients)
        {
            <p>@Html.DisplayFor(modelItem => item.Nom)</p>
        }

    </dd>

</dl>

