@model TP_Dojo.Models.SamouraiVM

@{
    ViewBag.Title = "Suppression de l'arme";
}

<h2>Supprimer</h2>

<h3>Etes-vous sûr de vouloir supprimer cette arme?</h3>
<div>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    
    <h4>@Html.DisplayFor(model => model.Arme.Nom)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Arme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arme.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arme.Degats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arme.Degats)
        </dd>
        <dt>
            Samouraïs possédant l'arme
        </dt>
        @if (Model.ListeSamourais.Count() != 0)
        {
            foreach (var item in Model.ListeSamourais)
            {
                <dd>
                    @Html.DisplayFor(modelitem => item.Nom)
                </dd>
            }
        }




    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-danger" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
