@model BO_Dojo.Samourai
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Samourai</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Force)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Force)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Arme)
        </dt>
        @if (Model.Arme != null)
        {
            <dd>
                @Html.DisplayFor(model => model.Arme.Nom)
            </dd>
        }
        else
        {
            <dd>Aucune arme</dd>
        }

        <dt>
            Arts Martiaux
        </dt>
        <dd>
            @if (Model.ArtMartials != null)
            {
                foreach (var item in Model.ArtMartials)
                {
                    <p>
                        @Html.DisplayFor(modelitem => item.Nom)
                    </p>
                }
            } else
            {
                <p>Aucun</p>
            }
        </dd>
        <dt>
            Potentiel
        </dt>

        <dd>
            @{ var potentiel = ViewBag.Message;}
            @potentiel
        </dd>
        

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
