@model TP_Dojo.Models.SamouraiVM

@{
    ViewBag.Title = "Modification";
}

<h2>Modification</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>@Html.DisplayFor(model  => model.Samourai.Nom)</h4>
    <hr />
    @Html.Partial("EditCreateSamouraï", Model)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Enregistrer" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Retour à la liste", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
