@model IEnumerable<BO_Dojo.Samourai>

@{
    ViewBag.Title = "Liste des Samouraïs";
}

<h2>Liste des Samouraïs</h2>

<p>
    @Html.ActionLink("Créer un nouveau samouraï", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Force)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtMartials)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Potentiel)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Force)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nom)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Arme.Nom)
    </td>
    <td>
        @foreach (var subitem in item.ArtMartials)
        {
            <p>
                @Html.DisplayFor(modelSubitem => subitem.Nom)
            </p>
        }
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Potentiel)
    </td>

    <td>
        @Html.ActionLink("Modifier", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Détails", "Details", new { id = item.Id }) |
        @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
